{% trans_default_domain 'StingerSoftGaugeBundle' %}
{% extends 'StingerSoftGaugePresentationBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% stylesheets filter="cssrewrite"
	'bundles/stingersoftgaugepresentation/scss/themes/default.scss'
%}
	<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts_body %}
	{{ parent() }}
	{% javascripts
		'bundles/stingersoftamchart/scripts/amcharts.js'
		'bundles/stingersoftamchart/scripts/pie.js'
		'bundles/stingersoftamchart/scripts/themes/light.js'
		'bundles/stingersoftamchart/scripts/plugins/animate/animate.js'  
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock javascripts_body %}


{% block body %}
	<header id="join_header">
		<div class="container-fluid">
			<h1>{{ 'stinger_soft_gauge.presentation.index.join_text'|trans({'%presentation_id%': presentation.id})|raw }}</h1>
		</div>
	</header>
	<section id="body">
		{% block content %}
		<div class="container-fluid slide-container">
			<div class="row slide-header">
				<div class="col-md-10">
					<h1 class="question-title">{% block question %}{% endblock %}</h1>
				</div>
				<div class="col-md-2">
					<h1 class="logo-container">{% block logo_container %}{% endblock %}</h1>
				</div>
			</div>
			<div class="row slide-content">
			{% block slide_content %}
				<div class="col-md-12">
					asdsadsa
				</div>
			{% endblock %}
			</div>
		</div>
		{% endblock content %}
	</section>
	<footer>
		<div class="container-fluid footer-container">
			<div class="row">
				<div class="col-md-10">
				</div>
				<div class="col-md-2">
					<h3 id="votes">Votes: <span class="votes-counter">23</span></h3>
				</div>
			</div>
		</div>
	</footer>
	<nav id="slide-navigation">
		<a href="#" class="navigate navigate-left">
			<i class="fa fa-fw fa-chevron-left"></i>
		</a>
		<a href="#" class="navigate navigate-right">
			<i class="fa fa-fw fa-chevron-right"></i>
		</a>
	</nav>
{% endblock body %}
