{% extends theme.surveyLayoutTemplate %}

{% block title %}{{ slide }}{% endblock %}
{% block question %}{{ slide }}{% endblock %}
{% block description %}{{ slide.description|default('') }}{% endblock %}

{% block form_container %}
{% form_theme form theme.formTheme %}
{{ form_start(form) }}

{% if form.answers is defined %}
    {{ form_widget(form.answers) }}
{% else %}
    {{ form_widget(form.ratings) }}
{% endif %}

{% if form.submit is defined %}
    {{ form_widget(form.submit) }}
{% else %}
	<div class="alert alert-warning">You already voted!</div>
    {{ form_widget(form.skip) }}
{% endif %}

{{ form_end(form) }}
{% endblock form_container %}